body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5a7735; /* Verde Alecrim */
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;
}
header h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
nav {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
nav button {
    background-color: #008000;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
nav button:hover {
    background-color: #006400;
    transform: scale(1.1);
}
.conteudo {
    display: none;
    padding: 20px;
}
img {
    width: 80%;
    max-width: 600px;
    margin: 10px 0;
}